= render 'item/subnav'

%p 以下物品是學生會可借用之物品，如果有需要可以在該物品右方按下借用

- itemStatus = ["未開放借用","可以借用","已被借用"]
- statusClass = ["btn-warning", "btn-success", "btn-danger"]

%table.table.table-hover
  %tr
    %th 物品名稱
    %th 物品說明
    %th 目前借用狀態
  - @itemData.each do |anItem| 
    %tr
      %td
        = link_to anItem.ItemName, :action => "show_item", :id => anItem.id
        .btn-group.pull-right
          = link_to button_tag("編輯", :class => "btn-success edit-btn"), :action => "modify_item", :id => anItem.id
          = link_to button_tag("刪除", :class => "btn-danger del-btn"), :action => "delete_item", :id => anItem.id
      %td
        = anItem.ItemDescription
      %td
        %button{:class => ["btn", statusClass[anItem.ItemStatus], anItem.ItemStatus == 1? "":"disabled" ]}= itemStatus[anItem.ItemStatus]
