= render 'lend/subnav'

- itemStatus = ["未開放借用","可以借用"]
- statusClass = ["btn-warning", "btn-success"]

%p 你可以在此修改借閱許可

.form-horizontal{:role => "form"}
  = form_for @lendData, :url => { :action => "update_lend" } do |form|
    - @nameError = @lendData.errors[:LendName].any? ? 1:0
    .form-group{:style => "padding-top:10px;", :class => @nameError == 1 ? "has-error":"has-success"}
      = label(:lendNew, :LendName, "借用人姓名", class: "col-sm-2 control-label")
      .col-sm-2
        = form.text_field :LendName, class: 'form-control'
      - if @lendData.errors[:LendName].any?
        .col-sm-4.has-error
          - @lendData.errors[:LendName].each do |detail|
            = label(:lendNew, :LendName, detail, class: "control-label")
    - @emailError = @lendData.errors[:LendEmail].any? ? 1:0
    .form-group{:class => @emailError == 1 ? "has-error":"has-success"}
      = label(:lendNew, :LendEmail, "借用人電子郵件", class: "col-sm-2 control-label")
      .col-sm-4
        = form.text_field :LendEmail, class: 'form-control'
      - if @lendData.errors[:LendEmail].any?
        .col-sm-4.has-error
          - @lendData.errors[:LendEmail].each do |detail|
            = label(:lendNew, :LendEmail, detail, class: "control-label")
    - @unitError = @lendData.errors[:LendUnit].any? ? 1:0
    .form-group{:style => "padding-top:10px;", :class => @unitError == 1 ? "has-error":"has-success"}
      = label(:lendNew, :LendUnit, "借用單位", class: "col-sm-2 control-label")
      .col-sm-2
        = form.text_field :LendUnit, class: 'form-control'
      - if @lendData.errors[:LendName].any?
        .col-sm-4.has-error
          - @lendData.errors[:LendName].each do |detail|
            = label(:lendNew, :LendName, detail, class: "control-label")
    - @itemError = @lendData.errors[:ItemId].any? ? 1:0
    .form-group{:class => @itemError == 1 ? "has-error":"has-success"}
      = label(:lendNew, :ItemNum, "借用物品", class: "col-sm-2 control-label")
      #itemSelect.col-sm-2
        = form.select :ItemId, Item.all.collect {|p| [ p.ItemName, p.id,{:"data-deadline" => p.ItemDeadline} ] }, { include_blank: true }, class: "selectpicker form-control", :"data-live-search" => "true", :onchange => "ItemDeadline()"
      #date_notice.col-sm-2.text-warning.control-label{:style =>"display:none;"}
        注意：此物品可供借用
        %span
          天
      - if @lendData.errors[:ItemId].any?
        .col-sm-4.has-error
          - @lendData.errors[:ItemId].each do |detail|
            = label(:lendNew, :ItemId, detail, class: "control-label")
    - @passError = @lendData.errors[:PassTime].any? ? 1:0
    .form-group{:class => @passError == 1 ? "has-error":"has-success"}
      = label(:lendNew, :PassTime, "預定借用日期", class: "col-sm-2 control-label")
      .col-sm-2
        = form.date_field :PassTime, class: 'form-control'
      - if @lendData.errors[:PassTime].any?
        .col-sm-4.has-error
          - @lendData.errors[:PassTime].each do |detail|
            = label(:lendNew, :PassTime, detail, class: "control-label")
    .form-group
      .col-sm-offset-2.col-sm-8
        = submit_tag 'Save', class: 'form-control'

