= render "lend/subnav"

%p 以下清單為借用列表

- lendStatus = ["不予准許","正在借用","審核中","違規過期"]
- statusClass = ["btn-danger", "btn-success", "btn-warning", "btn-danger"]

%table.table.table-hover
  %tr
    %th 借閱人姓名
    %th 借閱物品
    %th 批准狀態
    %th 申請表單日期
  - @lendData.each do |anLend|
    %tr
      %td
        = anLend.LendName
        .btn-group.pull-right
          = link_to button_tag("編輯", :class => "btn-success edit-btn"), :action => "modify_lend", :id => anLend.id
          = link_to button_tag("刪除", :class => "btn-danger del-btn"), :action => "delete_lend", :id => anLend.id
      %td
        = link_to Item.find(anLend.ItemId).ItemName, item_path+"/"+@itemData.find(anLend.ItemId).id.to_s
      %td
        = link_to button_tag(lendStatus[anLend.ItemLendStatus], :class => ["btn", statusClass[anLend.ItemLendStatus]]), :action => "show_lend", :id => anLend.id
      %td
        = anLend.created_at
