- content_for :title do
  Contact
%h3 聯絡管理者
.col-md-12
  %p 如果有對此系統有任何疑問或是建議可以填寫以下資料
  .form-group
    = simple_form_for @contact do |form|
      = form.error_notification
      = form.input :name, autofocus: true
      = form.input :email
      = form.input :content, as: :text
      = form.button :submit, 'Submit', class: 'submit'
